<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="off"
      internalLogFile="nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
      <!-- 文件日志目标 -->
      <target name="file" xsi:type="File" fileName="${basedir}/Log/${shortdate}.log"
              layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
    <target name="error" xsi:type="File" layout="**************************************************************************************************************************${newline} 日志时间 ： ${longdate} ${newline} 日志来源 ： ${logger} ${newline} 日志级别 ： ${uppercase:${level}} ${newline} 日志内容 ： ${message}${newline}" fileName="${basedir}/Logs/${date:format=yyyyMM}/ERROR-${shortdate}.log" />
    <target name="debug" xsi:type="File" layout="**************************************************************************************************************************${newline} 日志时间 ： ${longdate} ${newline} 日志来源 ： ${logger} ${newline} 日志级别 ： ${uppercase:${level}} ${newline} 日志内容 ： ${message}${newline}" fileName="${basedir}/Logs/${date:format=yyyyMM}/DEBUG-${shortdate}.log" />
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="*" minLevel="Info" writeTo="file" />

  </rules>
</nlog>