<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="off"
      internalLogFile="nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
	<target name="ApiTrace" xsi:type="Database">
		  <!-- 使用 Microsoft.Data.SqlClient 的连接类型 -->
		  <dbProvider>Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient</dbProvider>
		  <!-- 替换为 SQL Server 的连接字符串 -->
		  <connectionString>Data Source=47.100.12.56;Initial Catalog=HRDD;User Id=sa;Password=dcms;Application Name=DcmsQMS</connectionString>
		  <!-- 插入日志记录的 SQL 语句 -->
		  <commandText>
			  INSERT INTO sys_logs (ID, Logger, [Level], Url, Host, Method, UserAgent, Cookie, QueryString, Body, Message, Elapsed, CreateTime, IPAddress)
			  VALUES (@ID, @Logger, @Level, @Url, @Host, @Method, @UserAgent, @Cookie, @QueryString, @Body, @Message, @Elapsed, @CreateTime, @IPAddress);
		  </commandText>
		  <!-- 定义 SQL 参数 -->
		  <parameter name="@ID" layout="${guid}" />
		  <parameter name="@Logger" layout="${logger}" />
		  <parameter name="@Level" layout="${level}" />
		  <parameter name="@Url" layout="${aspnet-request-url}" />
		  <parameter name="@Host" layout="${aspnet-request-host}" />
		  <parameter name="@Method" layout="${aspnet-request-method}" />
		  <parameter name="@UserAgent" layout="${aspnet-request-useragent}" />
		  <parameter name="@Cookie" layout="" />
		  <parameter name="@QueryString" layout="${aspnet-request-querystring}" />
		  <parameter name="@Body" layout="${aspnet-request-postedbody}" />
		  <parameter name="@Message" layout="${message}" />
		  <parameter name="@Elapsed" layout="${event-properties:item=Elapsed}" />
		  <parameter name="@CreateTime" layout="${date}" />
		  <parameter name="@IPAddress" layout="${aspnet-request-ip}" />
	  </target>
	<target name="database" xsi:type="Database">
		  <!-- 使用 Microsoft.Data.SqlClient 的连接类型 -->
		  <dbProvider>Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient</dbProvider>
		  <!-- 替换为 SQL Server 的连接字符串 -->
		  <connectionString>Data Source=47.100.12.56;Initial Catalog=HRDD;User Id=sa;Password=dcms;Application Name=DcmsQMS</connectionString>
		  <!-- 插入日志记录的 SQL 语句 -->
		  <commandText>
			  INSERT INTO sys_logs (ID, Logger, [Level], Url, Host, Method, UserAgent, Cookie, QueryString, Body, Message, Elapsed, CreateTime, IPAddress)
			  VALUES (@ID, @Logger, @Level, @Url, @Host, @Method, @UserAgent, @Cookie, @QueryString, @Body, @Message, @Elapsed, @CreateTime, @IPAddress);
		  </commandText>
		  <!-- 定义 SQL 参数 -->
		  <parameter name="@ID" layout="${guid}" />
		  <parameter name="@Logger" layout="${logger}" />
		  <parameter name="@Level" layout="${level}" />
		  <parameter name="@Url" layout="${aspnet-request-url}" />
		  <parameter name="@Host" layout="${aspnet-request-host}" />
		  <parameter name="@Method" layout="${aspnet-request-method}" />
		  <parameter name="@UserAgent" layout="${aspnet-request-useragent}" />
		  <parameter name="@Cookie" layout="" />
		  <parameter name="@QueryString" layout="${aspnet-request-querystring}" />
		  <parameter name="@Body" layout="${aspnet-request-postedbody}" />
		  <parameter name="@Message" layout="${message}" />
		  <parameter name="@Elapsed" layout="${event-properties:item=Elapsed}" />
		  <parameter name="@CreateTime" layout="${date}" />
		  <parameter name="@IPAddress" layout="${aspnet-request-ip}" />
	  </target>
    <target name="error" xsi:type="File" layout="**************************************************************************************************************************${newline} 日志时间 ： ${longdate} ${newline} 日志来源 ： ${logger} ${newline} 日志级别 ： ${uppercase:${level}} ${newline} 日志内容 ： ${message}${newline}" fileName="${basedir}/Logs/${date:format=yyyyMM}/ERROR-${shortdate}.log" />
    <target name="debug" xsi:type="File" layout="**************************************************************************************************************************${newline} 日志时间 ： ${longdate} ${newline} 日志来源 ： ${logger} ${newline} 日志级别 ： ${uppercase:${level}} ${newline} 日志内容 ： ${message}${newline}" fileName="${basedir}/Logs/${date:format=yyyyMM}/DEBUG-${shortdate}.log" />
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" level="Trace" writeTo="ApiTrace" />
    <logger name="*" level="Info" writeTo="database" />
    <logger name="*" level="Warn" writeTo="database" />
    <logger name="*" level="Debug" writeTo="debug" />
    <logger name="*" level="Error" writeTo="database" />

  </rules>
</nlog>